.App {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.App .card{
  width: 100%;
}
.App-header {
  font-size: calc(10px + 2vmin);
  color: #282c34;
}
.App-title {
  text-align: center;
  font-weight: bold;
}
.line-trought{
  text-decoration: line-through;
}